<div class="container">
  <h1>SET UP YOUR PROFILE</h1>
  <div class="container"></div>
  <form class="search-form" action="/profile/new/<%= user.id %>" method="POST"  novalidate>


  <!-- <h1 class="hide" id="toggle-test">TOGGLE TEST</h1>  
  <h3>Are you creating an account for...?</h3>

  <div class="form-check form-check-inline">      
    <input class="form-check-input" type="radio" name="isBand" id="isBand1" value=false checked>
    <label class="form-check-label" for="isBand1">An Individual Musician</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="isBand" id="isBand2" value=true>
    <label class="form-check-label" for="isBand2">A Band</label>
  </div> -->

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" class="form-control needs-validation" type="text" placeholder="Name" name="name" required>
    <small id="nameHelpBlock" class="form-text text-muted">
      Required.
    </small>
    <!-- <div class="valid-feedback">
      Looks good!
    </div> -->
    <div class="invalid-feedback">
      Please enter your name.
    </div>
  </div>

  <!-- TODO: If "Other" selected, present text input and add value to db -->
  <div class="form-group">
    <label for="city">City</label>
    <select class="form-control" id="city" name="city" required>
      <option disabled selected value> -- Choose Your City -- </option>
      <% cities.forEach(function(city) { %>
      <option> <%=city.name %></option>
      <% }) %> 
      <option>Other</option>
    </select>
    <!-- <div class="valid-feedback">
      Looks good!
    </div> -->
    <div class="invalid-feedback">
      Please choose your city.
    </div>
    <small id="cityHelpBlock" class="form-text text-muted">
      Required.
    </small>
  </div>
  

  <!-- TODO: if user.isBand "Seeking" and "Instrumentation" else -->
  <!-- TODO: If "Other" selected, present text input and add value to db -->
  <div class="form-group" required>
    <% if (user.isBand === false) {%> 
      <p class="tiny-margin"> Instruments You Play</p>
    <% } else { %> 
      <p>Your Band Is Looking To Collaborate With Musicians Who Play:</p>
    <% } %> 
    <small id="instrumentsHelpBlock" class="form-text text-muted">
      Required. Select all that apply.
    </small>
    <% instruments.forEach(function(instrument) { %>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="instrumentCheck" id="<%= instrument.name %>" value="<%= instrument.name %>">
        <label class="form-check-label" for="<%= instrument.name %>"><%= instrument.name %> </label>
      </div>
    <% }) %> 
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="other">
      <label class="form-check-label other-input" for="inlineCheckbox3">Other</label>
      <input id="instruments" type="text" name="instruments">
    </div>  
    <!-- <div class="valid-feedback">
      Looks good!
    </div> -->
    <div class="invalid-feedback">
      Please choose at least one instrument.
    </div>  
  </div>
<br>
  <!-- TODO: If "Other" selected, present text input and add value to db -->
  <div class="form-group">
    <p class="tiny-margin"> What types of collaborations are you interested in?</p>
    <small id="collaborationsHelpBlock" class="form-text text-muted">
      Required. Select all that apply.
    </small>
    <% collaborations.forEach(function(collaboration) { %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="collaborationCheck" id="<%= collaboration.type %>" value="<%= collaboration.type %>">
      <label class="form-check-label" for="<%= collaboration.type %>"><%= collaboration.type %> </label>
    </div>
    <% }) %> 
    <!-- <div class="form-check form-check-inline">
      <input id="collaborations" type="text" name="collaborations">
    </div>     -->
  </div>
  <br>
  <!-- TODO: If "Other" selected, present text input and add value to db -->
  <div class="form-group">
    <p class="tiny-margin">Genre(s)</p>    
    <small id="genresHelpBlock" class="form-text text-muted">
      Select all that apply.
    </small>
    <% genres.forEach(function(genre) { %>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="genreCheck" id="<%= genre.name %>" value="<%= genre.name %>">
        <label class="form-check-label" for="<%= genre.name %>"><%= genre.name %> </label>
      </div>
    <% }) %> 
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="other">
        <label class="form-check-label other-input" for="inlineCheckbox3">Other</label>
        <input id="genres" type="text" name="genres">
      </div>  
    <br><br>
  <div class="form-group">
    <label for="influences">Influences</label>
    <textarea class="form-control" id="influences" placeholder="ie: The Beatles, Parliament Funkadelic, ABBA" rows="3" name="influences"></textarea>
    <small id="genresHelpBlock" class="form-text text-muted">
      Add up to five influences, separated by commas.
    </small>
  </div>

    <!-- TODO: create special sub-form to help with format? -->
  <% if (user.isBand === false) {%>   
  <div class="form-group">
    <label for="recordingCredits">Recording Credits</label>
    <textarea class="form-control" id="recordingCredits" placeholder="ie: Hunky Dory - David Bowie - 1971 - Keyboards,
Close To The Edge - Yes - 1972 - Keyboards/Organ" name="recordingCredits" rows="3"></textarea>
    <small id="genresHelpBlock" class="form-text text-muted">
      Add up to five recording credits, separated by commas.
    </small>
  </div>
  <% } %> 


  <div class="form-group">
    <h3>Display Your Talent with Audio and Video</h3>
    <label for="spotifyEmbedUrl">Spotify Playlist or Track URL</label>
    <input id="spotifyEmbedUrl" class="form-control" type="text" placeholder="ie: https://open.spotify.com/embed/track/46Dh8ZM4LxlOyzKypMx9kv" name="spotifyEmbedUrl">
  </div>

  <div class="form-group">
    <label for="soundcloudEmbedUrl">Soundcloud Playlist or Track URL</label>
    <input id="soundcloudEmbedUrl" class="form-control" type="text" placeholder="ie: https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/400318689" name="soundcloudEmbedUrl">
  </div>

  <div class="form-group">
    <label for="youtubeEmbedUrl">Youtube Video URL</label>
    <input id="youtubeEmbedUrl" class="form-control" type="text" placeholder="ie: https://www.youtube.com/embed/pKTOh2DZMOI" name="youtubeEmbedUrl">
  </div>  
    <!-- IF BAND RADIO BUTTON IS SELECTED / isBand = true -->
    <!-- validate as integer between 1 and 200000 -->
  
    <% if (user.isBand === true) {%>   
  <div class="form-group">
    <p>How many people do you draw on average at a...?</p>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Local Show</label>
        <input type="text" class="form-control" id="localDraw" name="localDraw" placeholder="Local Draw (number)">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">National Show</label>
        <input type="text" class="form-control" id="nationalDraw" name="nationalDraw" placeholder="National Draw (number)">
      </div>
    </div>
    <% } %> 

    
    <input type="submit" class="btn btn-secondary" value="Create Profile">
  </div>
</form>
</div>
<!-- add profile photo here or wait to do that later? -->

