<div class="container">
  <div class="row">
<h2><%= user.name  %></h2>
<img class="rounded-circle profile-photo-main" src="<%= user.profilePhotoUrl %>" alt="profile image" width=200 height=200>
</div>
<p>Joined Harmonic on <%= user.createdAt %> </p>
<p>Last Active on <%= user.lastActive %> </p>
<!-- if (user.id === req.user.id) -->
  <!-- add edit functionality -->
<!-- else  -->
  <!-- add star, message, and testimonial functionality -->

<ul class="profile-list">
<li>Location: <%= user.city.name  %></li>

  <!-- TODO: if user.isBand "Seeking" and "Instrumentation" else -->
  <li>Instrument(s):</li> 
        <ul>
        <% user.instruments.forEach(function(instrument) { %>
          <li><%= `${instrument.name}`  %></li>
        <% }) %> 
        </ul>


  <!-- TODO: if user.isBand "Seeking" and "Instrumentation" else -->
  <li>Available For:</li> 
        <ul>
        <% user.collaborations.forEach(function(collaboration) { %>
          <li><%= `${collaboration.type}`  %></li>
        <% }) %> 
        </ul>

        <% if (user.genres && user.genres.length > 1) { %>
          <li>Genres:</li> 
            <ul>
            <% user.genres.forEach(function(genre) { %>
              <li><%= `${genre.name}`  %></li>
            <% }) %> 
            </ul>
        <% } else {} %>  

    <% if (user.influences && user.influences.length > 1) { %>    
    <li>Influences: <%= user.influences.join(", ") %> </li>
    <% } %> 
    
    
    <% if (user.recordingCredits && user.recordingCredits.length > 1) { %>
      <li>Recording Credits:</li> 
        <ul>
        <% user.recordingCredits.forEach(function(credit) { %>
          <li><%= `${credit}`  %></li>
        <% }) %> 
        </ul>
    <% } else {} %>  



    <% if (user.canRecordRemotely) { %>
      <li>Remote recording capabilities</li>
    <% } else {} %> 
    <% if (user.spotifyEmbedUrl || user.soundcloudEmbedUrl) { %>
      <li>HEAR:</li>
    <% } else {} %>   
      <% if (user.spotifyEmbedUrl) { %>
        <li>
          <iframe src="<%= user.spotifyEmbedUrl %>" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </li>
      <% } else {} %> 
      <% if (user.soundcloudEmbedUrl) { %>
        <li>
          <iframe width="400" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/400318689&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="#" title="" target="_blank" style="color: #cccccc; text-decoration: none;"></a>  <a href="#" title="" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
        </li>
      <% } else {} %> 
      <% if (user.youtubeEmbedUrl) { %>  
        <li>WATCH:</li>
        <iframe width="560" height="315" src="<%= user.youtubeEmbedUrl %> " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
      <% } else {} %> 
      <% if (user.localDraw && user.nationalDraw) { %> 
          <li>Draw: <%= user.localDraw %> (local) / <%= user.nationalDraw %> (national)</li>  
        
      <% } else { %> 
      <% } %>   
  </ul>
</div>