<div class="container profile-container">
  <div class="row profile-title">
    <h2 class=""><%= user.name  %></h2>
    <img class="rounded-circle profile-photo-main" src="<%= user.profilePhotoUrl %>" alt="profile image">
  </div>

<!-- <p>Last Active on <%= user.lastActive %> </p> -->
<!-- if (user.id === req.user.id) -->
  <!-- add edit functionality -->
<!-- else  -->
  <!-- add star, message, and testimonial functionality -->

<% if (user.id === currentUser.id) { %> 
  <form class="btn-form" method="get" action="../profile/edit/<%= user.id %> ">
    <button class="btn btn-secondary" value="" name="editProfile" type="submit">EDIT PROFILE</button>
  </form>
<% } else { %>
  <div class="row">
  <form class="btn-form" method="get" action="../messages/new/<%= user.id %>">
    <input class="btn btn-secondary" type="submit" value="Message <%= user.name %>" />
  </form>
  
  <form class="btn-form" method="post" action="../profile/addstar/<%= user.id %>">
    <input class="btn btn-secondary" type="submit" value="Add To Starred List"/>
  </form>
</div>
<% }  %>
<small>Joined Harmonic on <%= dateFormat(user.createdAt, "mmm dS, yyyy"); %> </small><br>
<small >Last Active on <%= dateFormat(user.lastActive, "mmm dS, yyyy"); %> </small>
<!-- <ul class="profile-list"> -->
<p><b>Location:</b> <%= user.city.name  %></p>



  <!-- TODO: if user.isBand "Seeking" and "Instrumentation" else -->
  <p><b>Instrument(s):</b></p> 
        <ul>
        <% user.instruments.forEach(function(instrument) { %>
          <li><%= `${instrument.name}`  %></li>
        <% }) %> 
        </ul>


  <!-- TODO: if user.isBand "Seeking" and "Instrumentation" else -->
  <p><b>Available For:</b></p>
        <ul>
        <% user.collaborations.forEach(function(collaboration) { %>
          <li><%= `${collaboration.type}`  %></li>
        <% }) %> 
        </ul>

        <% if (user.genres && user.genres.length > 1) { %>
          <!-- <li>Genres:</li>  -->
          <p><b>Genres:</b></p>
            <ul>
            <% user.genres.forEach(function(genre) { %>
              <li><%= `${genre.name}`  %></li>
            <% }) %> 
            </ul>
        <% } else {} %>  

    <!-- % if (user.influences && user.influences.length > 1) { %>    
      <p><b>Influences: </b>%= user.influences.join(", ") %></p> 
    s% } %>  -->
    
    <% if (user.influences && user.influences.length > 1) { %>
      <p><b>Influences: </b></p>
        <ul>
        <% user.influences.forEach(function(influence) { %>
          <li><%= `${influence}`  %></li>
        <% }) %> 
        </ul>
    <% } else {} %>  
    
    <% if (user.recordingCredits && user.recordingCredits.length > 1) { %>
      <p><b>Recording Credits: </b></p>
        <ul>
        <% user.recordingCredits.forEach(function(credit) { %>
          <li><%= `${credit}`  %></li>
        <% }) %> 
        </ul>
    <% } else {} %>  


    <% if (user.spotifyEmbedUrl || user.soundcloudEmbedUrl) { %>
      <p><b>Listen: </b></p>
    <% } else {} %>   
      <% if (user.spotifyEmbedUrl) { %>

          <iframe class="spotify" src="<%= user.spotifyEmbedUrl %>"  frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <br><br>
      <% } else {} %> 
      <% if (user.soundcloudEmbedUrl) { %>
        
          <!-- <iframe class="soundcloud" width="400" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/400318689&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="#" title="" target="_blank" style="color: #cccccc; text-decoration: none;"></a>  <a href="#" title="" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div> -->
          <iframe class="soundcloud" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/400318689&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="#" title="" target="_blank" style="color: #cccccc; text-decoration: none;"></a>  <a href="#" title="" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
        
      <% } else {} %> 
      <% if (user.youtubeEmbedUrl) { %>  
        <p><b>Watch: </b></p>
        <!-- <iframe class="youtube" width="560" height="315" src="<%= user.youtubeEmbedUrl %> " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <iframe class="youtube"  src="<%= user.youtubeEmbedUrl %> " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
      <% } else {} %> 
      <% if (user.localDraw && user.nationalDraw) { %> 
          <li>Draw: <%= user.localDraw %> (local) / <%= user.nationalDraw %> (national)</li>  
        
      <% } else { %> 
      <% } %>   
  </ul>
  <% if (testimonials) { %>
    <h2>Testimonials</h2>
      
      <% testimonials.forEach(function(testimonial) { %>
        <div class="card">
          <div class="card-body">
            <div class="row">
    
            <img class="rounded-circle profile-photo-small" src="<%= testimonial.sender.profilePhotoUrl %> " alt="<%= testimonial.sender.name %> profile photo">
            <h5 class="message-from my-auto">From: &nbsp;   <a href="/profile/<%=testimonial.sender.id %>"><%= testimonial.sender.name %></a></h5>   
            <p class="date my-auto ml-auto"><%= dateFormat(testimonial.createdAt, "dddd, mmmm dS, yyyy, h:MM TT"); %> </p> 
    
          </div>
            
        
        <p class="card-content"><%= `${testimonial.content}`  %></p>
    </div>
    </div>
      <% }) %> 



    

<% } else {} %>  
  <form class="btn-form" method="get" action="../profile/testimonial/<%= user.id %>">
    <input class="btn btn-secondary" type="submit" value="Leave <%= user.name %> A Testimonial" />
  </form>
</div>
</div>
