<!-- TODO add button to save search RESULTS
TODO add button to go back to search -->


<form method="post" action="../../search/savesearch/">
  <!-- <input type="submit" value="Save This Search"/> -->
  <button value="<%= storedSearchString %>" name="storedSearchString" type="submit">Save This Search</button>
</form>

  <% if (users.length) { %> 
    <h1>SEARCH RESULTS</h1>
    <div class="container">
      <% users.forEach(function(user) { %>
        <div class="card">
          <div class="card-body">
            <img class="rounded-circle profile-photo-small align-middle" src="<%= user.profilePhotoUrl %>" width=80 height=80>
            <a class="review-title align-middle" href="../../profile/<%= user.id %>"><%= user.name %></a>
          </div>
        </div>
        <br>
      <% }) %>   
    </div>  


  <% } else { %>  
    <h2>No Matches</h2>
    <h4>Refine Your Search and Try Again</h4>
  <% } %>  
  <!-- REFINE SEARCH btn -->

  <a href="?<%= storedSearchString %>">RECREATE SEARCH</a> 
  
  <!-- SAVE THIS SEARCH btn, modal popup to name search-->
    <!-- needs to save req.query -->
      <!-- clicking on the search later will GET search/index/${req.query} -->
</div>